header{
	height: 280px;

}

@font-face{
	font-family: 'WebSymbolsRegular';
    src: url('websymbols/websymbols-regular-webfont.eot');
    src: url('websymbols/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('websymbols/websymbols-regular-webfont.woff') format('woff'),
         url('websymbols/websymbols-regular-webfont.ttf') format('truetype'),
         url('websymbols/WebSymbolsLiga-Regular.otf') format('opentype'),
         url('websymbols/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
	font-family: 'Wisdom';
	src: url('Wisdom Script.otf') format('opentype');
}

.nav-top{
	width: 100%;
	height: 30px;


background: rgb(6,0,51); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxNiUiIHN0b3AtY29sb3I9IiMwNjAwMzMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiMyOTg5ZDgiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI4MyUiIHN0b3AtY29sb3I9IiMwNjAwMzMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(6,0,51,1) 16%, rgba(41,137,216,1) 50%, rgba(6,0,51,1) 83%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(16%,rgba(6,0,51,1)), color-stop(50%,rgba(41,137,216,1)), color-stop(83%,rgba(6,0,51,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(6,0,51,1) 16%,rgba(41,137,216,1) 50%,rgba(6,0,51,1) 83%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(6,0,51,1) 16%,rgba(41,137,216,1) 50%,rgba(6,0,51,1) 83%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(6,0,51,1) 16%,rgba(41,137,216,1) 50%,rgba(6,0,51,1) 83%); /* IE10+ */
background: linear-gradient(to bottom, rgba(6,0,51,1) 16%,rgba(41,137,216,1) 50%,rgba(6,0,51,1) 83%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#060033', endColorstr='#060033',GradientType=0 ); /* IE6-8 */
}

.nav-menu{
	float: left;
	width: 40%;
	margin: 0px auto;
}

nav ul{
	padding: 0;
	margin: 0;
	padding-left: 30px;
}

.nav-menu li{
	z-index: 1;
	list-style: none;
	width: 25%;
	height: 200px;
	float: left;
	border: 3px solid transparent;
	margin-right: 30px;

	opacity: 0.5;
	transition: all 300ms linear;

	background: rgb(77,108,135); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIzJSIgc3RvcC1jb2xvcj0iIzRkNmM4NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMyJSIgc3RvcC1jb2xvcj0iIzU0Njc4NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU3JSIgc3RvcC1jb2xvcj0iIzYyNmM4MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYzJkNTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(77,108,135,1) 3%, rgba(84,103,132,1) 32%, rgba(98,108,130,1) 57%, rgba(28,45,84,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,rgba(77,108,135,1)), color-stop(32%,rgba(84,103,132,1)), color-stop(57%,rgba(98,108,130,1)), color-stop(100%,rgba(28,45,84,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(77,108,135,1) 3%,rgba(84,103,132,1) 32%,rgba(98,108,130,1) 57%,rgba(28,45,84,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(77,108,135,1) 3%,rgba(84,103,132,1) 32%,rgba(98,108,130,1) 57%,rgba(28,45,84,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(77,108,135,1) 3%,rgba(84,103,132,1) 32%,rgba(98,108,130,1) 57%,rgba(28,45,84,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(77,108,135,1) 3%,rgba(84,103,132,1) 32%,rgba(98,108,130,1) 57%,rgba(28,45,84,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d6c87', endColorstr='#1c2d54',GradientType=0 ); /* IE6-8 */
}


.nav-menu li a{
	display: block;
	width: 100%;
	height: 100%;
	color: #d0d2e8;
	position: relative;
}

.nav-icon{
	font-family: 'WebSymbolsRegular', cursive;
	line-height: 90px;
	text-shadow: 0px 0px 1px #333;
	width: 100%;
	height:50%;
	text-align: center;
	display: inline-block;
	transition: all 300ms linear;
}

.nav-content{
	display: inline-block;
	text-align: center;
	width: 100%;
	height: 50%;
}

.nav-main{
	font-size: 30px;
	transition:all 300ms linear;
}


.nav-menu li:hover{
	opacity: 1;
	border: 3px solid #060033;
		background: rgb(77,108,135); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIzJSIgc3RvcC1jb2xvcj0iIzRkNmM4NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMyJSIgc3RvcC1jb2xvcj0iIzU0Njc4NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU3JSIgc3RvcC1jb2xvcj0iIzYyNmM4MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYzJkNTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(77,108,135,1) 3%, rgba(84,103,132,1) 32%, rgba(98,108,130,1) 57%, rgba(28,45,84,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,rgba(77,108,135,1)), color-stop(32%,rgba(84,103,132,1)), color-stop(57%,rgba(98,108,130,1)), color-stop(100%,rgba(28,45,84,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(77,108,135,1) 3%,rgba(84,103,132,1) 32%,rgba(98,108,130,1) 57%,rgba(28,45,84,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(77,108,135,1) 3%,rgba(84,103,132,1) 32%,rgba(98,108,130,1) 57%,rgba(28,45,84,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(77,108,135,1) 3%,rgba(84,103,132,1) 32%,rgba(98,108,130,1) 57%,rgba(28,45,84,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(77,108,135,1) 3%,rgba(84,103,132,1) 32%,rgba(98,108,130,1) 57%,rgba(28,45,84,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d6c87', endColorstr='#1c2d54',GradientType=0 ); /* IE6-8 */

}

.nav-menu li:hover .nav-icon{
	color: #080c54;
	text-shadow:0px 0px 1px #080c54;
	font-size: 60px;
}

.nav-menu li:hover .nav-main{
	color: #080c54;
	font-size: 20px;
}

.nav-logo{
	width: 20%;
	float:left;
}
.nav-ashiya{
	width: 250px;
	transition: all 300ms linear;
}

.nav-social{
	width: 35%;
	float: left;

}

.nav-social ul{
	padding: 0;
	margin: 0;
	padding-left: 30px;
}

.nav-social li{
	list-style: none;
	width: 50px;
	height: 100px;
	float: left;
	border: 3px solid transparent;
	margin-right: 30px;

	opacity: 0.5;


	transition: all 300ms linear;

}


.nav-social li a{
	display: block;
	width: 100%;
	height: 100%;
	color: #d0d2e8;
	position: relative;
}

.nav-social .nav-icon{
	font-size: 50px;
}


.nav-social li:hover{
	opacity: 1;
}

.nav-social li:hover .nav-icon{
	font-size: 80px;
}

body{
	background-image: url('space.jpg');
}

.content{

}
#slideshow{
	text-align: center;
}

#slideshow #slidesContainer{
	display: inline-block;
	text-align: center;
	width: 760px;
	height: 300px;
	overflow: auto;
	position: relative;
}

#slideshow #slidesContainer .slide{
	position: relative;
	margin: 0 auto;
	width: 740px; /*Minskar så scrollbaren inte fuckas */
	height: 300px;


}

#slideshow #slidesContainer .slide h1{
	font-family: 'Chivo', sans-serif;
	font-size: 60px;
	letter-spacing: -2px;
	color: #fff;
	text-shadow: 3px 4px 0 rgba(0,0,0,.3); 

	margin-bottom: 0;
}

#slideshow #slidesContainer .slide h2{
	font-family: 'Chivo', sans-serif;
	font-size: 40px;
	color: #fff;
	margin: 0;
}

#slideshow #slidesContainer .slide .slideText{
	height: 150px;
	position: absolute;
	bottom: 0;

}

#slideshow #slidesContainer .slide p{
	font-family: 'Francois One', sans-serif;
	font-size: 20px;
	color: #fff;
	opacity: 0.9;

}

.control{
	font-family: 'WebSymbolsRegular', cursive;
	font-size: 100px;
	text-shadow: 0px 0px 1px #333;
	cursor: pointer;

	display: inline-block;

	transition: all 300ms linear;
}
#leftControl{
	color: #fff;
	opacity: 0.7;
	margin-right: 50px;

}


#rightControl{
	color: #fff;
	opacity: 0.7;
	margin-left: 50px;
	margin-bottom: 10px;
}


.projectContent{
	margin: auto;
	width: 50%;
	height: 400px;
	text-align: center;

}

.projectContent #GoG{
	height: 120px;
	width: 220px;
	border: 2px solid #080c54;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	margin: 50px auto;
	opacity: 0.8;


	background-image: url(GearsOfGaming.png);
	background-repeat: no-repeat;

}

.projectContent #GoG:hover{
	opacity: 1;

}


.contactContent{
	margin: auto;
	width: 50%;
	text-align: center;
}

.contactContent .contactText h1{
	font-family: 'Wisdom';
	font-size: 50px;
	color: #fff;
	text-shadow: 3px 4px 0 rgba(0,0,0,.3); 
}

.contactContent .contactText h2{
	font-size: 20px;
	color: #fff;
	text-shadow: 1px 2px 0 rgba(0,0,0,1);
	margin: 0;

}

.contactContent .formInput{
	margin-top: 20px;
}

.contactContent #name, .contactContent #email, .contactContent #message{
	width: 80%;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.contactContent input{
	font-family: 'Francois One', sans-serif;
	font-size: 20px;
	color: #404451;
	height: 30px;
	border: none;
	opacity: 0.8;
}

.contactContent textarea{
	font-family: 'Francois One', sans-serif;
	font-size: 20px;
	color: #404451;
	height: 100px;
	resize:none;
	border: none;
	opacity: 0.8;
}

.contactContent input:focus, .contactContent textarea:focus{
	opacity: 0.9;
}

.contactContent #send{
	width: 30%;
	margin-top: 20px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;

}

/*--------------------------------BP---------------------*/
@media screen and (max-width: 1200px){

nav ul{
	padding-left: 10px;
}

.nav-menu li{
	margin-right: 10px;
	height: 150px;
}

.nav-icon{
	font-size: 20px;
}

.nav-main{
	font-size: 20px;
}


.nav-menu li:hover .nav-icon{
	font-size: 50px;
}

.nav-menu li:hover .nav-main{
	font-size: 15px;
}


.nav-ashiya{
	width: 200px;
}

.nav-social{
	margin-left: 20px;
}

.contactContent textarea{ height: 120px;}
}


@media screen and (max-width: 1050px){

#slideshow #slidesContainer{
	width: 500px;
}

#slideshow #slidesContainer .slide{
	width: 500px; /*Minskar så scrollbaren inte fuckas */
}

#slideshow #slidesContainer .slide h1{
	float: left;
	font-size: 40px;
	letter-spacing: 0;
}

#slideshow #slidesContainer .slide h2{
	float: left;
	margin-top: 100px;
	font-size: 20px;
}

#slideshow #slidesContainer .slide .slideText{
width: 400px
}

#slideshow #slidesContainer .slide p{
	font-size: 15px;
}

.control{
	font-size: 70px;
}

#leftControl{
	margin-right: 50px;
}

#rightControl{
	margin-left: 50px;
}

.contactContent textarea{ height: 140px;}

} /* storlek slut*/

@media screen and (max-width: 870px){

.nav-social{
	margin-left: 30px;
}
.nav-social li{
	width: 30px;
	margin-right: 20px;
}
.nav-social li a{
	display: block;
	width: 100%;
	height: 100%;
	color: #d0d2e8;
	position: relative;
}

.nav-social .nav-icon{
	font-size: 40px;
}
.nav-social li:hover .nav-icon{
	font-size: 50px;
}

.contactContent textarea{ height: 150px;}

}

@media screen and (max-width: 740px){

.nav-menu li{
	width: 100%;
	height: 50px;
	float: left;
	opacity: 0.7;
}

.nav-menu li a{
	display: block;
	width: 100%;
	height: 100%;
	color: #d0d2e8;
	position: relative;
}

.nav-icon{
	display: inline-block;
	float: left;
	line-height: 50px;
	width: 50%;
	height:100%;
}

.nav-content{
	width: 50%;
	height: 100%;
}

.nav-main{
	font-size: 20px;
}

.nav-social{
	width: 100px;
	float: right;

}

.nav-social ul{
	padding-left: 30px;
}

.nav-social li{
	width: 50px;
	height: 50px;
	float: left;
}


.nav-social li a{
	display: block;
	width: 100%;
	height: 100%;
	color: #d0d2e8;
	position: relative;
}

.nav-social .nav-icon{
	font-size: 50px;
}

#slideshow #slidesContainer{
	width: 300px;
}

#slideshow #slidesContainer .slide{
	width: 280px; /*Minskar så scrollbaren inte fuckas */
}

#slideshow #slidesContainer .slide h1{
	font-size: 23px;
}

#slideshow #slidesContainer .slide h2{
	margin-top: 80px;
	font-size: 15px;
}

#slideshow #slidesContainer .slide .slideText{
width: 300px
}

#slideshow #slidesContainer .slide p{
	font-size: 13px;
}

.control{
	font-size: 60px;
}

#leftControl{
	margin-right: 50px;
}

#rightControl{
	margin-left: 50px;
}

.contactContent textarea{ height: 230px;}
}

@media screen and (max-width: 530px){
body{
	width: 530px;
}
}